<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
    <title>Survival</title>
  </head>
  <body>
    <h1>Playing Game</h1>
    <h2>Base: <%= @game.base.location %></h2>
    <p>Name: <%= @player.name %></p>
    <p>Health: <%= @player.health %></p>
    <p>You have <%= @game.survivors.length %> survivors with you.</p>
  </body>
</html>
