<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
    <title>Survival</title>
  </head>
  <body>
    <p>Testing infrastructure working</p>
    <form method='get' action='/game'>
      <input type='text' name='name'>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
